/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

html[data-theme="dark"] .modal-fondo {
  background-color: rgba(255, 255, 255, 0.1);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
