@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-base-200;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

@layer components {
  #logout-btn:hover > img {
    filter: brightness(0);
  }

  #save-btn:hover > img {
    filter: brightness(0);
  }

  #add-new-btn:hover > img {
    animation: add-pulse 500ms ease-in-out 2;
  }

  #delete-btn:hover > img {
    animation: trash-shake 500ms ease-in-out;
  }
}

@keyframes add-pulse {
  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes trash-shake {
  25% {
    transform: rotate(35deg);
  }

  75% {
    transform: rotate(-35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
